.cont-text-area label{
  display: block;
  padding: 8px 10px;
  position: relative;
  box-sizing: border-box;
  border-radius: 5px;
  border-bottom: 2px solid #FEFBF6;
  background-color: #666569;
}
.cont-text-area label.focus{
  border-bottom: 2px solid #9c27b0;
}
.cont-text-area label:hover{
  border-bottom: 2px solid #9c27b0;
  transition: 0.5s;
}
.cont-text-area label span{
  font-style: oblique;
  position: absolute;
  top: 8px;
  left: 10px;
  transition: .25s;
  margin-left: 5px;
  color: #FEFBF6;
}
.cont-text-area span.focus{
  color: #9c27b0;
}
.cont-text-area span.top{
  left: 0;
  top: -20px;
  font-size: 12px;
  padding: 0 5px;
}
.cont-text-area label textarea{
  display: block;
  width: 100%;
  border: none;
  background-color: transparent;
  outline: none;
  color: #FEFBF6;
}