.container_page_grid {
  display: grid;
  max-width: 90%;
  margin: 2em auto;
  grid-template-columns: 35% 30% auto;
  gap: 1em;
 
}
h2 > p {
  width: 90%;
}

@media (min-width: 320px) {
  .container_page_grid {
    margin-top: 8em;
    grid-template-columns: auto;
    gap: 1em;
  }
}

@media (min-width: 480px) {
  .container_page_grid {
    margin-top: 12em;
    grid-template-columns:100%;
    gap: 1em;

  }
}

@media (min-width: 880px) {
  .container_page_grid {
    grid-template-columns:auto auto auto;
    gap: 1em;
  }
  .grid_img {
    grid-column: 1 / 3;
  }
  .grid_col_des {
   grid-column: 1 / 1;
  }
  
}

@media (min-width: 1255px) {
  .container_page_grid{
    margin-top: 200px;
    grid-template-columns: 35% 30% auto;
    grid-template-rows: 55vh;
    min-height: 65vh;
  }
  .grid_img {
    grid-column: 1 / 1;
  }
  .grid_col_des {
   grid-column: 2 / 3;
  }
  
}