.card_container {
  border: none;
  box-shadow: 0px -5px 15px 10px rgba(0,0,0,0.1);
}
.card_body{
  display: inline-block;
  box-shadow: 0px -15px 20px 0px rgba(0,0,0,0.1);
}
.bg-img{
  position: relative;
}
.icon-fav{
  position: absolute;
  z-index: 1;
  right: 0;
  margin: 0.5em;
  color: #9c27b0;
  border: 0;
}
.name-text{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.desc-text{
  font-size: 0.7em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
