.header{
  background-color: #3D3C42;
  position: fixed;
  top: 0;
  z-index: 2;
}
.header-scrolled{
  background-color: #3d3c42de;
  position: fixed;
  top: 0;
  z-index: 2;
  box-shadow: 0px 10px 20px 5px rgb(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
}
.menu-navbar{
  color: #FEFBF6;
}
.menu-navbar:hover{
  color: #9c27b0;
}
.ul-menu{
  display: flex;
  justify-content: center;
}
.icon-menu{
  width: 80px;
  height: 80px;
}
.list-avatar{
  background-color: #3D3C42;
  min-width: min-content;
}
.list-avatar li a{
  text-align: center;
  color: #FEFBF6;
}
.list-avatar li a:hover{
  background-color: #9c27b0;
  color: #FEFBF6;
}
@media (min-width: 1024px) {
  .ul-menu{
    display: flex;
    justify-content: flex-end;
  }
  .list-avatar li a{
    text-align: end;
  }
}